@keyframes welcome {

  0%,
  30% {
    opacity: 0;
  }
}

@keyframes nogravity {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(40px);
  }
}

@keyframes topnavwelcome {
  0% {
    transform: translateY(-50px);
  }
}

@keyframes shadow {
  0% {
    scale: 0.8;
  }

  100% {
    scale: 1;
  }
}

body {
  font-family: 'Saira Semi Condensed';
  background-color: rgb(100, 100, 255);
  background: linear-gradient(45deg, rgb(0, 0, 50), rgb(0, 100, 255));
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  color: white;
  font-size: large;
  text-shadow: 0 0 10px white;
  text-align: center;
  animation: welcome 2s;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 90%;
}

p {
  margin: 10px;
}

a {
  text-decoration: none;
}

.line {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
  height: 3px;
  background-color: white;
  box-shadow: white 0px 0px 7px;
}

.nogravity {
  animation: nogravity 3s ease-in-out infinite alternate;
}

.shadow {
  background-image: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  animation: shadow 3s ease-in-out infinite alternate;
}

a:link,
a:visited {
  color: white;
}

h2 {
  overflow: hidden;
}

h2:before,
h2:after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  box-shadow: white 0px 0px 7px;
}

h2:before {
  right: 0.5em;
  margin-left: -50%;
}

h2:after {
  left: 0.5em;
  margin-right: -50%;
}

#end {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  transform: rotate(270deg);
  font-size: xx-large;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 5px;
  float: right;
  margin: 20px;
  transition: 0.3s all;
}

#end:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  transition: 0.3s all;
}

.topnav {
  position: fixed;
  z-index: 999;
  width: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.3);
  animation: topnavwelcome 2s ease-in-out;
}

.topnav a {
  text-shadow: none;
  font-size: 20px;
  padding: 10px 10px;
  transition: 0.4s all;
  display: inline-block;
  white-space: nowrap;
}

.topnav a:hover {
  text-shadow: 0 0 20px white, 0 0 10px white;
  transition: 0.4s all;
}

.topnav a:active {
  opacity: 0.3;
  transition: 0s all;
}

#top {
  filter: blur(7px);
}

.img-txt img{
  margin: 40px;
}

@media only screen and (max-width: 900px) {
  #top {
    filter: blur(3px);
  }
  .img-txt img{
    margin: 0;
  }
}




.interactive {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin: 2%;
}

#image-description3,
#image-description2,
#image-description1 {
  transform: perspective(800px) rotateX(20deg);
  padding: 0 20px;
  font-size: 0;
  opacity: 0;
  transition: 1s all;
}

.img-txt {
  display: flex;
  align-items: center;
}

.img-txt img,
.img-txt p {
  display: inline-block;
  vertical-align: middle;
}

.image-container {
  overflow: hidden;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.galleryL,
div.galleryR,
div.galleryN,
div.galleryY {
  margin: 30px;
  border: 8px solid white;
  border-radius: 15px;
  width: 500px;
  max-width: 80%;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0.7;
  box-shadow: 0 0 30px white;
  transition: 0.5s ease all;
}

div.galleryL:hover {
  background-color: rgba(255, 0, 0, 0.5);
  border: 8px solid rgb(255, 0, 0);
  box-shadow: 0 0 30px rgb(255, 0, 0);
  scale: 1.1;
  opacity: 1;
}

div.galleryR:hover {
  background-color: rgba(0, 255, 0, 0.5);
  border: 8px solid rgb(0, 255, 0);
  box-shadow: 0 0 30px rgb(0, 255, 0);
  scale: 1.1;
  opacity: 1;
}

div.galleryN:hover {
  background-color: rgba(0, 0, 255, 0.5);
  border: 8px solid rgb(0, 0, 255);
  box-shadow: 0 0 30px rgb(0, 0, 255);
  scale: 1.1;
  opacity: 1;
}

div.galleryY:hover {
  background-color: rgba(255, 255, 0, 0.5);
  border: 8px solid rgb(255, 255, 0);
  box-shadow: 0 0 30px rgb(255, 255, 0);
  scale: 1.1;
  opacity: 1;
}

div.galleryN img:hover{
  scale: 1.5;
  transition: 1s all;
}

div.galleryN img{
  z-index: 9999;
  transition: 1s all;
}